<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>佳丽列表</title>
    <script src="vue3.js"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    Vue.createApp({
        data() {
            return {
                inputValue: '',
                list: []
            }
        },
        methods: {
            handleAddItem() {
                this.list.push(this.inputValue);
                this.inputValue = '';
            }
        },
        template: `
          <div>
            <input v-model="inputValue" />
            <button v-on:click="handleAddItem">增加佳丽</button>
            <ul>
                <li v-for="(item,index) of list">[{{index}}]-{{item}}</li>
            </ul>
          </div>
        `
    }).mount('#app')
</script>

</html>